USE [master]
GO
/****** Object:  Database [Multimedial]    Script Date: 16/10/2015 21:38:04 ******/
CREATE DATABASE [Multimedial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Multimedial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Multimedial.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Multimedial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Multimedial_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Multimedial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\ReportServer]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT SERVICE\ReportServer] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [DESKTOP-MJK5D9B\fm010]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [DESKTOP-MJK5D9B\fm010] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [consulta]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [consulta] WITH PASSWORD=N'E+Ò§8<S¬Ãj=%U ófH Þ"Bþwj*ú', DEFAULT_DATABASE=[Multimedial], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [consulta] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [adminSupermercado]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [adminSupermercado] WITH PASSWORD=N'f¼l~kÊå ðµ¿YÕdÎãoâï¨Sÿ', DEFAULT_DATABASE=[Multimedial], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [adminSupermercado] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [admin]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [admin] WITH PASSWORD=N'b9(0rG
b¤$«Ò>f¹?¥¥(Çð9', DEFAULT_DATABASE=[Multimedial], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=ON, CHECK_POLICY=ON
GO
ALTER LOGIN [admin] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'4åÕÍâ>ög"KD;ØûÏÞãoVÉoó,µÙ%i', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 16/10/2015 21:38:04 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'hÍ¯
ÿJêZ¨*O¬dþÂ	:¦Ø!', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-MJK5D9B\fm010]
GO
USE [Multimedial]
GO
/****** Object:  User [consultaUser]    Script Date: 16/10/2015 21:38:04 ******/
CREATE USER [consultaUser] FOR LOGIN [consulta] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [adminUser]    Script Date: 16/10/2015 21:38:04 ******/
CREATE USER [adminUser] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [adminSupermercado]    Script Date: 16/10/2015 21:38:04 ******/
CREATE USER [adminSupermercado] FOR LOGIN [adminSupermercado] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [consultaRol]    Script Date: 16/10/2015 21:38:04 ******/
CREATE ROLE [consultaRol]
GO
/****** Object:  DatabaseRole [adminRol]    Script Date: 16/10/2015 21:38:04 ******/
CREATE ROLE [adminRol]
GO
ALTER ROLE [consultaRol] ADD MEMBER [consultaUser]
GO
ALTER ROLE [adminRol] ADD MEMBER [adminUser]
GO
ALTER ROLE [adminRol] ADD MEMBER [adminSupermercado]
GO
DENY DELETE TO [adminRol] AS [dbo]
GO
DENY INSERT TO [adminRol] AS [dbo]
GO
DENY SELECT TO [adminRol] AS [dbo]
GO
DENY UPDATE TO [adminRol] AS [dbo]
GO
GRANT AUTHENTICATE TO [adminRol] AS [dbo]
GO
GRANT CONNECT TO [adminRol] AS [dbo]
GO
GRANT EXECUTE TO [adminRol] AS [dbo]
GO
GRANT CONNECT TO [adminSupermercado] AS [dbo]
GO
GRANT CONNECT TO [adminUser] AS [dbo]
GO
DENY DELETE TO [consultaRol] AS [dbo]
GO
DENY INSERT TO [consultaRol] AS [dbo]
GO
DENY SELECT TO [consultaRol] AS [dbo]
GO
DENY UPDATE TO [consultaRol] AS [dbo]
GO
GRANT AUTHENTICATE TO [consultaRol] AS [dbo]
GO
GRANT CONNECT TO [consultaRol] AS [dbo]
GO
GRANT EXECUTE TO [consultaRol] AS [dbo]
GO
GRANT CONNECT TO [consultaUser] AS [dbo]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NULL,
	[Costo] [money] NULL,
	[PrecioFinal] [money] NULL,
	[DescuentoMaximo] [smallint] NULL,
	[Foto] [varbinary](max) NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marcas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[IdMarca] [int] NULL,
	[Descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Recetas]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Recetas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Recetas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RecetaXProducto]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecetaXProducto](
	[IdReceta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
 CONSTRAINT [PK_RecetaXProducto] PRIMARY KEY CLUSTERED 
(
	[IdReceta] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

SET IDENTITY_INSERT [dbo].[Inventario] OFF
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([Id], [Nombre]) VALUES (1, N'Dos Pinos')
INSERT [dbo].[Marcas] ([Id], [Nombre]) VALUES (2, N'Nestle')
INSERT [dbo].[Marcas] ([Id], [Nombre]) VALUES (3, N'Maseca')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [IdMarca], [Descripcion]) VALUES (2, N'Queso crema', 1, N'Queso Crema 500 g')
INSERT [dbo].[Productos] ([Id], [Nombre], [IdMarca], [Descripcion]) VALUES (7, N'La Lechera', 2, N'Leche COndensada Azucarada')
INSERT [dbo].[Productos] ([Id], [Nombre], [IdMarca], [Descripcion]) VALUES (9, N'Arroz 1kg', 26, N'Arroz 1kg')
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Fruta Fresca', N'Ponga leche condensada sobre su fruta ')
INSERT [dbo].[Recetas] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Cheesecake', N'use queso crema para su cheesecake')
INSERT [dbo].[Recetas] ([Id], [Nombre], [Descripcion]) VALUES (5, N'Arroz cn leche', N'Me quiero ')
SET IDENTITY_INSERT [dbo].[Recetas] OFF
INSERT [dbo].[RecetaXProducto] ([IdReceta], [IdProducto]) VALUES (2, 7)
INSERT [dbo].[RecetaXProducto] ([IdReceta], [IdProducto]) VALUES (3, 2)
INSERT [dbo].[RecetaXProducto] ([IdReceta], [IdProducto]) VALUES (5, 9)
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marcas] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[RecetaXProducto]  WITH CHECK ADD  CONSTRAINT [FK_RecetaXProducto_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[RecetaXProducto] CHECK CONSTRAINT [FK_RecetaXProducto_Productos]
GO
ALTER TABLE [dbo].[RecetaXProducto]  WITH CHECK ADD  CONSTRAINT [FK_RecetaXProducto_Recetas] FOREIGN KEY([IdReceta])
REFERENCES [dbo].[Recetas] ([Id])
GO
ALTER TABLE [dbo].[RecetaXProducto] CHECK CONSTRAINT [FK_RecetaXProducto_Recetas]
GO
/****** Object:  StoredProcedure [dbo].[sp_consultarProductos]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Inserta un nuevo producto en el inventario. Si la marca expecificada no existe, la crea.
-- =============================================
CREATE PROCEDURE [dbo].[sp_consultarProductos]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  p.Id, p.Nombre, m.Nombre as Marca, p.Descripcion, 
			i.Cantidad, i.Costo, i.PrecioFinal, i.DescuentoMaximo, i.Foto
	FROM Productos p, inventario i, Marcas m
	WHERE p.Id=i.IdProducto and p.IdMarca = m.Id
END



GO
/****** Object:  StoredProcedure [dbo].[sp_consultarRecetas]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Consulta todas las recetas
-- =============================================
CREATE PROCEDURE [dbo].[sp_consultarRecetas]
	@pIdProduct int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  r.Id as IdReceta, r.Nombre as NombreReceta, r.Descripcion, p.Id as IdProducto, p.Nombre as NombreProducto
	FROM Recetas r, RecetaXProducto rp, Productos p
	WHERE p.Id=rp.IdProducto and r.Id = rp.IdReceta and p.Id=@pIdProduct
END



GO
/****** Object:  StoredProcedure [dbo].[sp_getPhoto]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getPhoto]
	@id int
as
BEGIN
	SET NOCOUNT ON;
	SELECT i.Foto FROM Inventario i WHERE i.IdProducto=@id
END


GO
/****** Object:  StoredProcedure [dbo].[sp_insertarProducto]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Inserta un nuevo producto en el inventario. Si la marca expecificada no existe, la crea.
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarProducto]
	@pNombre varchar(20), @pMarca varchar(30), @pDescripcion varchar(200),
	@pCantidad int, @pCosto money, @pPrecioFinal money, @pDescuentoMaximo int,
	@pFoto VARCHAR(MAX)=NULL
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT Id FROM Marcas where Nombre=@pMarca)
	BEGIN
		INSERT INTO Marcas VALUES (@pMarca)
	END
	INSERT INTO Productos 
		VALUES(	@pNombre, 
				(SELECT Id FROM Marcas WHERE Nombre = @pMarca),
				@pDescripcion)
	INSERT INTO Inventario
		VALUES(@pCantidad, @pCosto, @pPrecioFinal, @pDescuentoMaximo,convert(varbinary(Max),@pFoto,2))
END



GO
/****** Object:  StoredProcedure [dbo].[sp_insertarReceta]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Inserta una nueva receta. Recibe hasta 5 productos que incluye la receta
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertarReceta]
	@pNombre varchar(50), @pDescripcion varchar(MAX),
	@pNombreProducto varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Recetas
	VALUES(@pNombre, @pDescripcion)

	DECLARE @IdReceta int = @@IDENTITY 

	INSERT INTO RecetaXProducto 
	VALUES(@IdReceta, (SELECT  p.Id FROM PRODUCTOS p WHERE P.Nombre=@pNombreProducto))

END



GO
/****** Object:  StoredProcedure [dbo].[sp_modificarProducto]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Modifica un producto en el inventario.
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarProducto]
	@pIdProducto int, @pNombre varchar(20), @pMarca varchar(30), @pDescripcion varchar(200),
	@pCantidad int, @pCosto money, @pPrecioFinal money, @pDescuentoMaximo int,
	@pFoto varchar(MAX)=null
AS
BEGIN
	
	SET NOCOUNT ON;
	IF NOT EXISTS(SELECT Id FROM Marcas where Nombre=@pMarca)
	BEGIN
		INSERT INTO Marcas VALUES (@pMarca)
	END
	UPDATE Productos 
	SET Nombre=@pNombre, 
		IdMarca = (SELECT Id FROM Marcas WHERE Nombre = @pMarca),
		Descripcion = @pDescripcion
	WHERE Id = @pIdProducto

	IF @pFoto IS NULL
	BEGIN
		UPDATE Inventario
		SET Cantidad=@pCantidad, 
			Costo = @pCosto, 
			PrecioFinal = @pPrecioFinal, 
			DescuentoMaximo=@pDescuentoMaximo
		WHERE IdProducto=@pIdProducto
	END
	ELSE
	BEGIN
		UPDATE Inventario
		SET Cantidad=@pCantidad, 
			Costo = @pCosto, 
			PrecioFinal = @pPrecioFinal, 
			DescuentoMaximo=@pDescuentoMaximo,
			Foto = convert(varbinary(max), @pFoto, 2)
		WHERE IdProducto=@pIdProducto
	END
END


GO
/****** Object:  StoredProcedure [dbo].[sp_modificarReceta]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Modifica una receta. Recibe hasta 5 productos que incluye la receta
-- =============================================
CREATE PROCEDURE [dbo].[sp_modificarReceta]
	@pIdReceta int, @pNombre varchar(50), @pDescripcion varchar(MAX)
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE Recetas
	SET Nombre = @pNombre, 
		Descripcion = @pDescripcion 
	WHERE Id = @pIdReceta
END



GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerProducto]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 11 de octubre
-- Description:	Inserta un nuevo producto en el inventario. Si la marca expecificada no existe, la crea.
-- =============================================
create PROCEDURE [dbo].[sp_obtenerProducto]
	@pId int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  p.Id, p.Nombre, m.Nombre as Marca, p.Descripcion, 
			i.Cantidad, i.Costo, i.PrecioFinal, i.DescuentoMaximo, i.Foto
	FROM Productos p, inventario i, Marcas m
	WHERE p.Id=i.IdProducto and p.IdMarca = m.Id and p.Id=@pId
END



GO
/****** Object:  StoredProcedure [dbo].[sp_obtenerReceta]    Script Date: 16/10/2015 21:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Molina
-- Create date: 15 de octubre
-- Description:	Consulta todas las recetas
-- =============================================
CREATE PROCEDURE [dbo].[sp_obtenerReceta]
	@pIdReceta int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT  r.Id as IdReceta, r.Nombre as NombreReceta, r.Descripcion as Descripcion
	FROM Recetas r
	WHERE r.Id=@pIdReceta
END



GO
USE [master]
GO
