<!DOCTYPE html> {% extends "layout.html" %} {% block content %}
<form class="form-horizontal" method="POST" role="form" autocomplete="off" enctype="multipart/form-data">

  <h2>Modify a Product</h2>
  <br>

  <img src="data:;base64,{{ product['Foto'] }}">
  <p></p>
  Actualice la imagen: <input type="file" name="file">

  <div class="form-group">
    <label for="usr">Nombre</label>
    <input type="text" class="form-control" name="Nombre" placeholder={{product['Nombre']}}>
  </div>


  <div class="form-group">
    <label for="usr">Marca</label>
    <input type="text" class="form-control" name="Marca" placeholder={{product['Marca']}}>
  </div>

  <div class="form-group">
    <label for="usr">Descripcion</label>
    <input type="text" class="form-control" name="Descripcion" placeholder={{product['Descripcion']}}>
  </div>

  <div class="form-group">
    <label for="usr">Cantidad</label>
    <input type="text" class="form-control" name="Cantidad" placeholder={{product['Cantidad']}}>
  </div>

  <div class="form-group">
    <label for="usr">Costo</label>
    <input type="text" class="form-control" name="Costo" placeholder={{product['Costo']}}>
  </div>

  <div class="form-group">
    <label for="usr">Precio Final</label>
    <input type="text" class="form-control" name="Marca" placeholder={{product['PrecioFinal']}}>
  </div>

  <div class="form-group">
    <label for="usr">Descuento Maximo</label>
    <input type="text" class="form-control" name="DescuentoMaximo" placeholder={{product['DescuentoMaximo']}}>
  </div>





  <br>
  <button class="btn btn-lg btn-primary" type="submit">Modify Product</button>

</form>
{% endblock %}
